html {
    font-size: 16px;
    font-weight: lighter;
    line-height: 1.5;
    font-family: "monospace", sans-serif;
  }
  h1 {
    border-width: 1px;
    border-style: solid;
    text-align: left;
    font-size: 32px;
    color: rgb(132,30,25);
  }
  h2 {
    text-decoration: underline;
  }
  ul {
    line-height: 1.5;
    list-style-position: inside;
  }

  a:link {
    color: #265301
  }
  a:visited {
    color: #437A16;
  }
  a:focus {
    border-bottom: 1px solid;
    background: #BAE498;
  }
  a:hover {
    border-bottom: 1px solid;     
    background: #CDFEAA;
  }
  a:active {
    background: #265301;
    color: #CDFEAA;
  }
  a[href*="http"] {
    background: url("https://mdn.mozillademos.org/files/12982/external-link-52.png") no-repeat 100% 0;
    background-size: 15px 15px;
    padding-right: 15px;
  }
  #title {
    color: rgb(132,30,25);
  }